@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
